<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Ev&egravenements</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../CSS/Site.css">
<script type="text/javascript" src="../../js/js.js"></script>

<body>


<!-- Header -->
<header class="arena-display-container arena-content arena-wide" style="max-width:1500px;" id="home">
  <img class="arena-image" src="../images/Evenement.jpg" alt="fondecran" width="100%" height="auto">
  <div class="arena-display-middle arena-margin-top arena-center">
    <h1 class="arena-xxlarge arena-text-white"><span class="arena-hide-small arena-text-light-grey shadow"><b>EVENEMENTS</b></h1>
  </div>
</header>

<!-- Page content -->
<!-- Events Section -->
<div class="arena-container arena-padding-16" id="evenements">
  <h3 class="arena-border-bottom arena-border-light-grey arena-padding-16">Evenements</h3>
  <a href="prive/CommentE" class="arena-left arena-bar-item arena-button arena-padding-24">Commenter un &eacutev&egravenement</a>
<a href="prive/InscriE" class="arena-right arena-bar-item arena-button arena-padding-24">S'inscrire &agrave un &eacutev&egravenement</a>

</div>

<div class="arena-padding-16">
<a href="Evenementexter" class="arena-left arena-bar-item arena-button arena-padding-24">Ev&egravenement exter-HEI</a>
<a href="Evenement" class="arena-right arena-bar-item arena-button arena-padding-24 active">Ev&egravenement inter-HEI</a>
</div>

<div class="arena-padding-32 arena-row-padding" >

  <div class="arena-col l6 m6 arena-margin-bottom" th:each="evenement : ${evenementList}">
 <div th:if="${evenement.date.year>year || evenement.date.monthValue>month && evenement.date.year==year || evenement.date.dayOfMonth>=day && evenement.date.monthValue==month && evenement.date.year==year}">
    <div class=" arena-display-container" th:if="${evenement.interhei == 1}">


      <a class=" arena-black arena-padding" th:text="${evenement.nomE}" />
      <div class=" arena-black arena-padding" th:text="${evenement.descri}"></div>
      <div class=" arena-black arena-padding" th:text="${'L evenement se deroule le : '+evenement.date}"></div>
      <div class=" arena-black arena-padding" th:text="${'Le prix de l evenement est de : '+evenement.payant}"></div>
      <div class=" arena-black arena-padding" th:text="${'Plateforme : '+evenement.plateforme}"></div>

        <div class="arena-col l3 m6 arena-margin-bottom" th:each="commentaire : ${commentaireList}" >
          <div class=" arena-display-container" th:if="${commentaire.id == evenement.id}">

          <div class=" arena-black arena-padding arena-rightbar arena-border-white" th:text="${commentaire.pseudo}"></div>
          <div class=" arena-black arena-padding arena-rightbar arena-border-white" th:text="${commentaire.commentaire}"></div>
          </div>

        </div>

    </div>
  </div>
  </div>
</div>




</body>
</html>



