<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>ProfilAdmin</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../CSS/Site.css">
<script type="text/javascript" src="../../js/js.js"></script>

<body>

<!-- Navbar -->
<div class="arena-top">
    <div class="arena-bar arena-white arena-wide arena-padding arena-card topnav" id="myTopnav">
        <a href="Accueil" class="arena-bar-item arena-button" ><b>ARENA</b> HEI</a>
        <!-- Float links to the right. Hide them on small screens -->
        <a href="ProfilAdmin" class="arena-right arena-bar-item arena-button active">Profil Admin</a>
        <a href="Contact" class="arena-right arena-bar-item arena-button">Contact</a>
        <a href="Resultat" class="arena-right arena-bar-item arena-button">R&eacutesultats</a>
        <a href="Evenement" class="arena-right arena-bar-item arena-button">Ev&egravenements</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon arena-bar-item arena-button" onclick="myFunction()">&#9776;</a>

    </div>
</div>
<!-- Header -->
<header class="arena-display-container arena-content arena-wide" style="max-width:1500px;" id="home">
    <img class="arena-image" src="../images/ProfilAdmin.jpg" alt="fondecran" width="100%" height="auto">
    <div class="arena-display-middle arena-margin-top arena-center">
        <h1 class="arena-xxlarge arena-text-white"><span class="arena-hide-small arena-text-light-grey"><b><span class="arena-text-white shadow">ADMINISTRATEUR</span></b></span></h1>
    </div>
</header>

<!-- Page content -->


<div class="arena-container arena-padding-32" id="presentation">
    <a href="ProfilAdmin" class="arena-right arena-bar-item arena-button arena-padding-24">Retour</a>
    <h3 class="arena-border-bottom arena-border-light-grey arena-padding-16">Profil Admin</h3>

</div>

<div class="arena-container arena-padding-32">
    <h4 class="arena-padding-24  arena-border-light-grey arena-border-bottom">S&eacutel&eacutectionner un &eacutev&egravenement</h4>
    <form method="post">
        <label><div class="arena-padding-16">Date: </div><input type="date" name="dateEvenement" required/></label>
        <label><div class="arena-padding-16">Nom de l'&eacutev&egravenement: </div></label>
        <SELECT name="nom_eve">
            <option>Selection de l'evenement</option>
            <option name="option" th:each="evenement : ${evenementList}"
                    th:text="${evenement.nomE}" th:value="${evenement.nomE}"></option>
        </SELECT></br>
        <div class="arena-padding-16">
            <input type="submit" value="Confirmer"/>
        </div>
    </form>
</div>

<div class="arena-row-padding" >
    <p>Le prix g&eacuten&eacuter&eacute par cet &eacutev&egravenement est de : </p>

    <div class="arena-col l3 m6 arena-margin-bottom" th:text=" ${evutList}" th:value="${evutList}">

    </div>
</div>
<div class="arena-padding-64"></div>
</body>
</html>