<!DOCTYPE html>
<html><html xmlns:th="http://www.thymeleaf.org">
<title>Profil</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../../CSS/Site.css">
<script type="text/javascript" src="../../js/js.js"></script>

<body>


<!-- Header -->
<header class="arena-display-container arena-content arena-wide" style="max-width:1500px;" id="home">
    <img class="arena-image" src="../images/Connexion.jpg" alt="fondecran" width="100%" height="auto">
    <div class="arena-display-middle arena-margin-top arena-center">
        <h1 class="arena-xxlarge arena-text-white"><span class="arena-hide-small arena-text-light-grey"><b><span class="arena-text-white shadow">CONNEXION</span></b></h1>
    </div>
</header>

<!-- Page content -->


<div class="arena-container arena-padding-32" id="presentation">
    <a href="Deconnexion" class="arena-right arena-bar-item arena-button arena-padding-24">Se d&eacuteconnecter</a>
    <h3 class="arena-border-bottom arena-border-light-grey arena-padding-16">Profil</h3>

    <h5 class="arena-border-bottom arena-border-light-grey arena-padding-16 arena-sous-titre">Ev&egravenements inscrits</h5>

    <div class="arena-padding-32 arena-row-padding" >

        <div class="arena-col l6 m6 arena-margin-bottom" th:each="evenement : ${evenementList2}">

                <div th:if="${evenement.date.year>year || evenement.date.monthValue>month && evenement.date.year==year || evenement.date.dayOfMonth>=day && evenement.date.monthValue==month && evenement.date.year==year}">
                    <div class=" arena-display-container">

                <a class=" arena-black arena-padding" th:text="${evenement.nomE}" />
                <div class=" arena-black arena-padding" th:text="${'L evenement se deroule le : '+evenement.date}"></div>

            </div>
        </div>
        </div>
    </div>
    <h5 class="arena-border-bottom arena-border-light-grey arena-padding-16 arena-sous-titre">Ev&egravenements auxquels j'ai particip&eacute</h5>

    <div class="arena-padding-32 arena-row-padding" >

        <div class="arena-col l6 m6 arena-margin-bottom" th:each="evenement : ${evenementList2}">

            <div th:if="${evenement.date.year<year || evenement.date.monthValue<month && evenement.date.year==year || evenement.date.dayOfMonth<=day && evenement.date.monthValue==month && evenement.date.year==year}">
                <div class=" arena-display-container">

                    <a class=" arena-black arena-padding" th:text="${evenement.nomE}" />


                </div>
            </div>
        </div>
    </div>

    <a href="Suppression" onclick="return confirm('Etes-vous sur de vouloir supprimer votre compte?');" class="arena-right arena-bar-item arena-button arena-supprime arena-padding-24">Supprimer mon compte</a>
</div>

</div>
</body>
</html>